@import '../../../variables.scss';

:host {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.visible {
        display: block;
    }
}

.closeButton {
    position: absolute;
    width: 26px;
    height: 26px;    
    left: 9px;
    top: 13px;

    --stroke: #fff;
}