@function color($base, $percent) {
    @return mix($base,white,$percent)
}
$highlight: #00b1e7;
$contrast: #d5b05e;
$required: #e2001a;
$borderRadius: 2px;
$grey: #2d2a28;
$background: pink;

button, .aButton {
    background-color: transparent;
    color: #{color($grey, 55)};
    border-radius: $borderRadius;
    border: 1px solid currentColor;
    
    &.weak {
        background-color: #{color($grey, 70)};
        color: #{color($grey, 30)};
        border: none;
    }
	
    &.active {
        background-color: $highlight;
        color: #fff;
        border: none;
    }
}
hr {
    border-top-color: #{color($highlight, 40)};
}
app-main {
    color: #{color($grey, 30)};
    background-color: #{color($grey, 90)};
}
app-top-bar, app-footer {
    background-color: #{color($grey, 95)};
    color: $highlight;
}
app-top-bar {
    --stroke: #{color($grey, 60)};
    --fill: #{$highlight};
    .bullets {
        color: $highlight;
        > div:not(.active) {
            border-color: #{color($grey, 40)} !important;
        }
    }
    .contact {
        --stroke: #fff;
        background-color: $highlight;
    }
}
app-layout {
    &:before, &:after {
        background: linear-gradient($grey -5px, transparent 100%);
    }
    .bullets .active {
        background-color: $highlight;
        color: #fff;
    }
}
app-value {
    .presetValues > * {
        background-color: #{color($highlight, 40)};
        color: #{color($grey, 80)};
        &.active {
            background-color: $highlight;
            color: #fff;
        }
    }
    
    .totalPrice {
        background-color: $highlight;
        color: #eee;
    }
}
app-quantity {
    background-color: #fff;
	color: #fff;
	
    .square > div {
        background-color: $highlight;
        &.value {
            background-color: transparent;
            color: $highlight;
        }
    }
}
app-login {
    .required-info {
        background-color: $required;
        color: #fff;
    }
    --stroke:#{$highlight};
    .title-selection > label, .invoice-wanted > label {
        color: #{color($grey, 55)};
    }
    .email-status button {
        background-color: $highlight;
        color: #fff;
        border: none;
        &:disabled {
            background-color: #{color($highlight, 40)};
            color: #ffffff;
        }
    }
    .labeled-radioBox:checked + span {
        background-color: $highlight;
        border-color: $highlight !important;
        color: #fff !important;
    }
    
    app-decorated-input {
        color: $highlight;
    }
}
app-decorated-input {
    &.ng-invalid.ng-dirty, &.required.ng-invalid.ng-touched {
        color: $required;
    }
    .frame {
        background-color: transparent;
        border: 1px solid #{color($grey, 55)};
        border-radius: $borderRadius;
        .label {
            color: #{color($grey, 55)};
        }
    }
    &:not(.no-marker) .frame::before {
        background-color: #{color($highlight, 40)};
    }
    &.required .frame::before {
        background-color: $required;
    }
    &.required.focused.ng-valid .frame::before {
        background-color: $highlight;
    }
    input.focused ~ .label, input:focus ~  .label {
        color: #{color($grey, 55)};
    }
}
app-regular-overlay {
    background-color: #{transparentize($color: $grey, $amount: 0.02)};
    color: $highlight;
}
app-custom-value {
    .numberBlock {        
        color: #{color($grey, 40)};
        border-color: currentColor;
    
        > div.full {
            background-color: $highlight;
            color: #fff;
        }
    }
    input {
        color: $highlight;
    }
    
    button {
        background-color: $highlight;
        color: #fff !important;
    }
}
app-payment {

    app-radio-button {
        .inner {
            color: #{color($grey, 40)};
            border-color: #{color($grey, 80)};
        }
        input:checked ~ .inner {
            color: #{color($highlight, 40)};
            border-color: $highlight;
        }
    }
    input {
        background-color: transparent;
        color: #{color($grey, 40)};
        border: 1px solid currentColor;
    }
	.cc-field {
		border: 1px solid currentColor;
	}
}
app-cart, app-payment {
    color: #{color($grey, 40)};

    .mwst {
        background-color: #{color($grey, 80)};
        color: #{color($grey, 30)};
    }
    .headline {
        color: $highlight;
    }
    .infoBox {
        border-radius: $borderRadius;
        border: 1px solid currentColor;
        &.contrast {
            border-color: $highlight;
            &.full {
                background-color: $highlight;
                color: #fff;
            }
        }
    }
    app-quantity .square > div.value {
        background-color: #fff;
    }
}
app-contact .footer {
    border-top: 1px solid #{color($highlight, 40)};
}
app-result {
    color: #{color($grey, 40)};
    background-color: #{color($grey, 90)};
    .article {
        border-bottom: 4px solid $highlight;
    }
    .thanks {
        color: $highlight;
    }
}